:root {
  --font: Arial, Helvetica, sans-serif;

  --black:  rgba(19,  23,  34,  1.0);
  --grey:   rgba(42,  46,  57,  1.0);
  --l-grey: rgba(149, 152, 161, 1.0);
  --white:  rgba(209, 212, 220, 1.0);
  --red:    rgba(247, 82,  95,  0.9);
  --green:  rgba(102, 187, 106, 0.9);
  --blue:   rgba(33,  150, 243, 1.0);
  --yellow: rgba(251, 192, 45,  0.9);
  --transp: rgba(0,   0,   0,   0.0);

  --background: #19150f;
  --heading: #eee;
  --text: #ddd;
  --link: #ff5e6c;
  --visited: #fca9b0;
  --code-background: #000;
  --code: #ddd;
  --blockquote: #ccc;

}

/* iphone 13 mini */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
  img {
    max-width: 327px;
    max-height: 204px;
  }
}

/* iphone 13 and iphone 13 pro */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
  img {
    max-width: 342px;
    max-height: 212px;
  }
}

/* iphone 13 pro max */
@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3) {
  img {
    max-width: 380px;
    max-height: 238px;
  }
}

html {
  font-family: var(--font);
  font-size:   16px;
}

 /* max-width: 40; */
body {
  max-width:        45rem;
  padding:          0 24px;
  margin:           40px auto;
  line-height:      1.5rem;
  text-align:       left;
  word-wrap:        break-word;
  overflow-wrap:    break-word;
  color:            var(--text);
  background-color: var(--background);
}

.container {
  flex-direction: column;
}
/*
display:         flex;
align-content:   center;
justify-content: center;
*/

header {
  color: var(--text);
}

.title {
  text-decoration: none;
}

.title h1 {
  font-size: 1.5rem;
}

.nav a {
  margin-right: 5px;
}

a {
  font-size: 1.1rem;
  color:           var(--link);
  text-decoration: underline;
}

/*
a:hover {
  text-decoration: none;
}
*/

a:visited {
  color: var(--visited);
}

.main {
  color: var(--text);
}

.footer {
  color: var(--text);
}

hr {
  margin:       2.5rem 0 1rem;
  border:       0;
  border-top:   2px solid;
  border-color: var(--grey);
}

h1, h2, h3, h4, h5, h6 {
  margin: 3rem 0 1rem;
  color: var(--heading);
}

p {
  margin-bottom: 1.5rem;
}

ul {
  margin-bottom: 1.5rem;
  font-family:   sans-serif;
}

li {
  margin-bottom: 0.5rem;
}

code, pre {
  color:            var(--code);
  background-color: var(--code-background);
  margin:           1rem 0 1rem;
  padding:          1.5rem 2rem 1.5rem;
  border-radius:    0.5rem;
  white-space:      pre-wrap;
  font-family:      monospace;
}

img {
  border-radius: 1rem;
}

.text-bold {
  font-weight: bold;
}

.text-grey {
  color: var(--l-grey);
}

.text-red {
  color: var(--red);
}

.text-green {
  color: var(--green);
}

.text-blue {
  color: var(--blue);
}

.text-yellow {
  color: var(--yellow);
}
