:root {
    --font: Arial, Helvetica, sans-serif;
	--bg: rgb(38, 0, 6);
	--text: #f5f5f5;
	--transparent: rgba(0, 0, 0, 0.0);
    --border: #f5f5f5;
	--gradient-color-one: rgba(25, 118, 210, 1);
	--gradient-color-two: rgba(30, 39, 73, 0.9);
}

html {
	font-family: var(--font);
	font-weight: 500;
    font-size: 16px;
	scroll-behavior: smooth;
	overflow-x: hidden; 
    overflow-y: auto;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	color: var(--text);
	background: var(--bg);
	background: linear-gradient(
		0deg,
		var(--gradient-color-one) 0%,
		var(--gradient-color-two) 100%
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	padding-top:1.5rem;
	line-height: 1;
}

.profile-picture-container {
	display: flex;
	align-content: center;
	justify-content: center;
	height: 100px;
}

.profile-picture {
	border-radius: 50%;
}

.name {
	display: flex;
	align-content: center;
	justify-content: center;
	color: var(--text);
	font-family: inherit;
	font-size: 1.5rem;
}

a {
	display: flex;
	align-content: center;
	justify-content: center;
	border: 2px var(--border) solid;
	border-radius: 32px;
	background-color: var(--transparent);
	text-decoration: none;
	font-size: 1rem;
	color: var(--text);
	font-weight: bold;
	margin: 30px;
	line-height: 3;
	margin-left: 20%;
	margin-right: 20%;
}

a:hover {
	transform: scale(1.02);
	transition-duration: 30ms;
	transition-delay: 0ms;
}