:root {
  --font: Arial, Helvetica, sans-serif;

  --black:  rgba(38,  50,  56,  1.0);
  --white:  rgba(245, 245, 245, 1.0);
  --red:    rgba(223, 28,  68,  1.0);
  --blue:   rgba(33,  150, 243, 1.0);
  --transp: rgba(0,   0,   0,   0.0);
}

@media (prefers-color-scheme: dark) {
  body {
    color:            var(--white);
    background-color: var(--black);
  }

  a {
    color: var(--blue);
  }

  a:hover {
    color: var(--red);
  }
}

html {
  font-family: var(--font);
  font-size:   16px;
}

body {
  max-width:   40rem;
  padding:     0 24px;
  margin:      40px auto;
  line-height: 1.2;
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

p,ul,ol {
  margin-bottom: 2em;
  color:       var(--black);
  font-family: sans-serif;
}

.container {
  display:         flex;
  align-content:   center;
  justify-content: center;
}
